@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.products_display{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/public/products_bg.jpg") no-repeat center fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    box-sizing: border-box;
}
.intro_content{
    padding: 50vh 10vw;
}
.intro_text_small{
    font-size: 16px;
    text-transform: uppercase;
    color: #FBB448;
    letter-spacing: .15em;
    font-weight: bold;
}
.intro_text_big{
    margin: 0;
    font-size: 80px;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
}
.main_menu_container{
    margin: 0 auto;
}
.menu_intro{
    text-align: center;
}
.menu_intro h1{
    margin-top: 20px 0px;
    font-family: 'Kaushan Script', cursive;
    color: #8b5123; /* #FBB448 or #8b5123 or *#5e371f*/
}
.menu_intro p{
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: gray;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.menu_intro .line-deco{
    margin: 0 auto;
    height: 3px;
    width: 300px;
    background-color: #8b5123;
    border-radius: 5px;
}
.menu_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.food_deplay{
    width: 300px;
    margin: 15px;
    transition: 1s ease;
    background-color: #fefdfd;
    border: 1px solid #eff0ec;
}
.food_deplay:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.food_name{
    color: #8b5123;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 10px 0;
    font-family: 'Kaushan Script', cursive;
}
.food_detail{
    font-size: 16px;
    padding: 5px 15px;
    height: 60px;
    margin: 0px;
}
.food_image_container{
    width: 100%;
    height: 200px;
}
.food_image_container img{
    width: 100%;
    height: 100%;
}
.food_price{
    margin: 13px 0px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    color: #8b5123;
    font-family: 'Kaushan Script', cursive;
}
@media screen and (max-width: 880px){
    .intro_text_big{
        font-size: 60px;
    }
    .menu_intro p{
        font-size: 18px;
        max-width: 450px;
    }
    .food_deplay{
        width: 400px;
    }
    .food_deplay:hover{
        transform: none;
    }
}
@media screen and (max-width: 550px) {
    .intro_text_small{
        font-size: 14px;
    }
    .intro_text_big{
        font-size: 40px;
    }
    .food_deplay{
        width: 400px;
    }
    .food_deplay:hover{
        transform: none;
    }
}
