.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-links{
    display: flex;
}
.navbar .nav-links li{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
}
.navbar .nav-links li .text_link{
    text-decoration: none;
}