footer{
    background-color: white;
    color: rgb(43, 41, 41);
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 15px 0 10px;
}
.copyright{
    color: #8b5123;
}
p{
    margin: 0;
}